﻿@{
    ViewData["Title"] = "Калькулятор";
}

<div class="centerMargin">
    <p>@ViewData["Title"]</p>

    <div>
        <form action="~/Home/Result" method="post">
            <p><input type="number" name="a" value="0" /></p>
            <p><input type="number" name="b" value="0" /></p>

            <p>
                <button name="operation" value="+">+</button>
                <button name="operation" value="-">-</button>
                <button name="operation" value="*">*</button>
                <button name="operation" value="/">/</button>
            </p>
        </form>
    </div>
</div>
